{% extends 'cdn1.html'%}
{% block content %}
<body>
    {% block h%}
    <h1>
    Ajouter un type
    </h1>
    {% endblock h%}
   
    <form class="m-lg-4"  {% block ac%} action="{% url 'add_typ'%}"{% endblock ac%} method="post">
    
        {% csrf_token %}
        {% block id %}
        {% endblock id%}
        <div class="col-sm-4 col-md-6 col-lg-4">
            <label>Type</label>
            
            <input name="type" class="form-control"{% block typ %} {% endblock typ %}></td>
            
        </div>
        <div class="col-sm-4 col-md-6 col-lg-4">
            <label>Descreption </label>
            
            <input  name="desc" class="form-control"{% block des%}  {% endblock des%}>
           
        </div>
        
        <div class="col-sm-4 col-md-6 col-lg-4">
            <br><input type="submit" {% block btn%} value="Ajouter"{% endblock btn%} class="btn btn-success">
        </div>
    </form>
</body>

{% endblock content %}